h1 {
  text-align: center;
}

div {
  text-align: center;
}

ul {
  list-style: none; 
  display: inline-block; 
  padding: 0;
}

.ativo {
  background-color: lightgreen;
  font-weight: bold;
  color: black;                
}

.inativo {
  background-color: red;       
  font-style: italic;           
  color: white;                
}

button {
  margin: 5px;
  padding: 5px 10px;
}

.preco-alto {
  background-color: blue;
  color: white; 
}

.preco-baixo {
  background-color: black;
  color: white;
}
