<h1>Listagem de produtos em estoque!</h1>

<div>
  <button (click)="toggleMensagem()">Mostrar a Listagem</button>
</div>

<div *ngIf="mostrarListagem">
  <ul [ngStyle]="{'font-size.px': tamanhoFonte}">
  <li *ngFor="let item of produtos" 
    [ngClass]="{'ativo': item.ativo, 'inativo': !item.ativo}">
  {{ item.cod }} - {{ item.nome }} → {{ item.ativo ? 'Disponível' : 'Indisponível' }}
  | Preço: 
  <span [ngClass]="{'preco-alto': item.preco > 2000, 'preco-baixo': item.preco <= 2000}">
    R$ {{ item.preco }}
  </span>
</li>

  </ul>
</div>

<div>
  <button (click)="aumentarFonte()">+</button>
  <button (click)="diminuirFonte()">-</button>
</div>

<div>
  <button (click)="aumentarPreco()">Aumentar Preço 10%</button>
  <button (click)="diminuirPreco()">Diminuir Preço 10%</button>
</div>

